.page-size {
  float: right;
}

.results {
  color: unset !important;
  font-weight: bold;
}


.tbar{
  width: 100% !important;
  background-color: #F4F6F9;
  padding-bottom: 18px;
  text-align: start;
}

.tbar input {
  border: none;
  border: 1px solid #b5b5b6;
  height: 38px;
  padding: 0 10px;
  color: #595A5D;
  border-radius: 8px;
}

table tr td:last-child {
  text-align: right;
}



.align-Left{
  float: right;
}

select {
  border: none;
  border: 1px solid #b5b5b6;
  height: 38px;
  padding: 0 20px;
  background-color: white;
  border-radius: 8px;
}

table {
  margin-top: 18px;
  width: 100%;
  border-spacing: 0;
  background-color: white;
  padding: 32px;
}

table tr:first-child {
  background-color: #F4F6F9;
  height: 48px;
}

table tr:last-child td {

  height: 54px;
  border-bottom: unset !important;
}

table tr td {
  text-align: start;
  border-bottom: 1px solid #eceef0;
  height: 38px;
  color: #595A5D;
  padding: 8px;
}

td button {
  background-color: transparent;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 32px;
}

td button:hover {
  background-color: #F4F6F9;
}

th {
  text-align: left;
  color: #2b2b2c;
  border-bottom: 1px solid #eceef0;
  padding: 8px;
  font-weight: bold;
  height: 48px;
}

th img {
  width: 24px;
  position: relative;
  vertical-align: middle;
}

.menu{
  box-shadow: #eae8e8 0px 0px 10px;
  position: absolute;
  border: 1px solid #eae8e8;
  background-color: #f0f0f0;
}
.menu button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  color: #2b2b2c;
  text-align: left;
  font-weight: 500;
}
.menu button:hover{
  background-color: #eae8e8;
}



