<div class="container">
  <div class="tbar">
    <input type="text" placeholder="Search..." (keyup)="filterProducts($event)"/>
    <button (click)="onCreate()" class="action-button align-Left">Agregar</button>
  </div>
  <table>
      <tr>
        <th>Logo</th>
        <th>Nombre del producto</th>
        <th>Descripci&oacute;n <img src="assets/info.png"></th>
        <th>Fecha de liberaci&oacute;n <img src="assets/info.png"></th>
        <th>Fecha de reestructuraci&oacute;n<img src="assets/info.png"></th>
        <th>&nbsp;</th>
      </tr>
      @for (product of products | slice:0: pageSize; track product.id){
      <tr >
        <td><img [src]="product.logo" height="32px"/></td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.date_release | dateformat }}</td>
        <td>{{ product.date_revision  | dateformat}}</td>
        <td>
          <button (click)="onOption(product, $event)"><img src="assets/more_vert.png" width="18px" height="18px"></button>

        </td>
      </tr>
      }
      <tr>
        <td colspan="6" style="text-align: left;">
          <span class="results">{{products.length}} Resultados</span>
          <select (change)="pageSizeChange($event)" class="page-size" >
            <option value="5" selected>5</option>
            <option value="10">10</option>
            <option value="20">20</option>
          </select></td>
      </tr>
  </table>
</div>


@if(showMenu){
  <div class="menu" (blur)="showMenu=false" [style.left]="position.left + 'px'" [style.top]="position.top + 'px'">
    <button (click)="onEdit()">Editar</button>
    <button (click)="onConfirmDelete()">Eliminar</button>
  </div>
}

<app-dlg-confirmation
  [name]="selectedProduct?.name"
  (yesClick)="onDelete()"
  (cancelClick)="onCancel()"
  [style.display]="openDialog?'block':'none'"
></app-dlg-confirmation>
